#root {
	width: 100%;
	display: grid;
	grid-row: 15% 85%;
}
* {
	box-sizing: border-box;
}
header {
	height: 150px;
	/* position: fixed; */
	width: 100%;
}
body {
	text-align: center;
}
nav li {
	list-style: none;
	display: inline;
	margin: 2rem;
	border: solid 3px rgb(1, 1, 24);
	font-size: 2rem;
	color: black;
	text-decoration: double;
}

img {
	margin: 20px;
}
.nav-bar {
	width: 100%;
	background-color: coral;
	padding: 3px;
}
.header-container {
	grid-row: 1;
}
.body-container {
	width: 100%;
	margin: 50px auto;
	grid-row: 2;
}
.create-login-btn {
	margin-top: 70px;
	font-size: 2rem;
	background-color: rgb(255, 157, 122);
	padding: 5px;
	border-radius: 10px;
	cursor: pointer;
}
.items-container {
	text-align: center;
}
.item-card {
	height: 300px;
	width: 80%;
	margin: 5px auto;
	border: 2px solid;
	display: flex;
	justify-content: space-around;
}
.add-basket-btn {
	margin-top: 30px;
	padding: 2px;
	height: fit-content;
}
.item-info-text {
	text-align: right;
	margin-right: 10px;
}
.filter-by-container {
	margin-top: 0.8rem;
	display: flex;
	width: 80%;
}
.filter-by-btn,
#add-new-item-btn {
	margin: 1rem;
	padding: 3px;
	font-size: 1.2rem;
	border-radius: 5px;
	cursor: pointer;
}
.filter-chosen-btn {
	background-color: rgb(232, 111, 67);
}
.category-name-btn {
	margin: 2px 10px;
	padding: 3px;
	font-size: 1.2rem;
	font-style: italic;
	border: none;
	background-color: #e3ccfb;
}
.list-new-item-btn {
	margin-top: 1rem;
	width: 200px;
	margin-right: 1rem;
	padding: 2px;
	margin: 0.5rem;
	font-size: 1.5rem;
	font-weight: bolder;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	border-radius: 10px;
	box-shadow: #9868cb inset;
	cursor: pointer;
	background-color: rgba(255, 190, 166, 0.94);
}
.list-new-item-btn:hover {
	transform: scale(1.2);
}
.row {
	display: flex;
}
.animation-container {
	width: 500px;
	height: 500px;
	text-align: center;
	margin: 10px auto;
}
.form-container {
	display: block;
	width: 400px;
	text-align: center;
	margin-top: 60px;
}
.form-row {
	margin: 50px 30px;
	padding: 4px;
	display: flex;
	justify-content: space-between;
	font-size: 1.5rem;
}
form input {
	background-color: aliceblue;
	border: 2px solid;
	border-radius: 10px;
}
#add-new-item-btn {
	background-color: coral;
	font-size: 1.5rem;
	padding: 10px;
}
.toggle-div {
	margin-top: 50px;
	font-size: 1.5rem;
	padding: 10px;
	border: 3px solid;
	height: 100px;
}
