a {
	font-weight: 500;
	color: #06072c;
	text-decoration: none;
}
a:hover {
	color: #535bf2;
}

body {
	margin: 0;
	display: flex;
	place-items: center;

	background-color: #e3ccfb;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}
